WebStore/WebStore/Connected Services/UsersLaptopService/UsersLaptopService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLaptops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laptops" nillable="true" type="tns:Laptops" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaptops" nillable="true" type="tns:ArrayOfLaptops" />
  <xs:complexType name="Laptops">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardDisk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Processor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ram" type="xs:int" />
      <xs:element minOccurs="0" name="Screen" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Laptops" nillable="true" type="tns:Laptops" />
</xs:schema>