WebStore/WebStore/Connected Services/UsersLaptopService/UsersLaptopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersLaptopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55762/UsersLaptopService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55762/UsersLaptopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55762/UsersLaptopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersLaptopServiceOf_Laptops_GetAllUserLaptops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserLaptops" />
  </wsdl:message>
  <wsdl:message name="IUsersLaptopServiceOf_Laptops_GetAllUserLaptops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserLaptopsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersLaptopServiceOf_Laptops_SetLaptop_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLaptop" />
  </wsdl:message>
  <wsdl:message name="IUsersLaptopServiceOf_Laptops_SetLaptop_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLaptopResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersLaptopServiceOf_Laptops">
    <wsdl:operation name="GetAllUserLaptops">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersLaptopServiceOf_Laptops/GetAllUserLaptops" message="tns:IUsersLaptopServiceOf_Laptops_GetAllUserLaptops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersLaptopServiceOf_Laptops/GetAllUserLaptopsResponse" message="tns:IUsersLaptopServiceOf_Laptops_GetAllUserLaptops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLaptop">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersLaptopServiceOf_Laptops/SetLaptop" message="tns:IUsersLaptopServiceOf_Laptops_SetLaptop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersLaptopServiceOf_Laptops/SetLaptopResponse" message="tns:IUsersLaptopServiceOf_Laptops_SetLaptop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersLaptopServiceOf_Laptops" type="tns:IUsersLaptopServiceOf_Laptops">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUserLaptops">
      <soap:operation soapAction="http://tempuri.org/IUsersLaptopServiceOf_Laptops/GetAllUserLaptops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLaptop">
      <soap:operation soapAction="http://tempuri.org/IUsersLaptopServiceOf_Laptops/SetLaptop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersLaptopService">
    <wsdl:port name="BasicHttpBinding_IUsersLaptopServiceOf_Laptops" binding="tns:BasicHttpBinding_IUsersLaptopServiceOf_Laptops">
      <soap:address location="http://localhost:55762/UsersLaptopService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>